<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name_id %><br>
    <%= f.text_field :name_id %>
  </div>
  <div class="field">
    <%= f.label :surname_id %><br>
    <%= f.text_field :surname_id %>
  </div>
  <div class="field">
    <%= f.label :job_id %><br>
    <%= f.text_field :job_id %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.number_field :gender %>
  </div>
  <div class="field">
    <%= f.label :color %><br>
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :hair %><br>
    <%= f.text_field :hair %>
  </div>
  <div class="field">
    <%= f.label :charOne_id %><br>
    <%= f.text_field :charOne_id %>
  </div>
  <div class="field">
    <%= f.label :charTwo_id %><br>
    <%= f.text_field :charTwo_id %>
  </div>
  <div class="field">
    <%= f.label :charThree_id %><br>
    <%= f.text_field :charThree_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
