



  <style type="text/css">

    label {
      display: inline-block;
      padding-top: 20px;
      min-width: 90px;
    }

    .form2c, .form1c {
      display: block;
      float: left;
    }

    .form1c {
      width: 50%;

    }
    .form2c {
      width: 50%;
    }

    .button {

      display: inline-block;
      margin-top: 30px;
      border: 1px solid black;
    }

  </style>

  <h1>Person generator</h1>
  <div class="form1c">
    <label>Name</label><input type="text" name="name" value="<%= @name %>" id="name"><br/>
    <label>Age</label><input type="text" name="age" value="<%= @age %>" id="age"><br />
    <label>Gender</label><input type="text" name="gender" value="<%= @gender %>" id="gender"><br/>
    <label>Job </label><input type="text" name="job" value="<%= @job %>" id="job"><br />
    <label>Skin color </label><input type="text" name="skin" value="<%= @skin %>" id="skin"><br />
    <label>Hair length </label><input type="text" name="hair" value="<%= @hair %>" id="hairlength"><br />
    <label>Special</label></br><input type="checkbox" name="special" value="Deaf"><%= @special %></br><input type="checkbox" name="special" value="Blind">Blind </br><input type="checkbox" name="special" value="Banana"><%= @special %><br />
  </div>
  <div class="form2c">
    <label>Positive Characteristics</label><br />
    <div class="p_char">placeholder</div>
    <div class="p_char">placeholder</div>
    <div class="p_char">placeholder</div>
    <br />
    <label>Negative Characteristics</label><br />
    <div class="n_char">placeholder</div>
    <div class="n_char">placeholder</div>
    <div class="n_char">placeholder</div>
  </div>

  <div class='button'>
    <%= button_tag "Create New", id "button-#{perGen.id}"%>
  </div>
