<%= form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :charachterOne_id %><br>
    <%= f.text_field :charachterOne_id %>
  </div>
  <div class="field">
    <%= f.label :charachterTwo_id %><br>
    <%= f.text_field :charachterTwo_id %>
  </div>
  <div class="field">
    <%= f.label :charachterThree_id %><br>
    <%= f.text_field :charachterThree_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
