<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>

<p>
  <strong>Characterone:</strong>
  <%= @story.characterOne %>
</p>

<p>
  <strong>Charactertwo:</strong>
  <%= @story.characterTwo %>
</p>

<p>
  <strong>Characterthree:</strong>
  <%= @story.characterThree %>
</p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
