<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>

<p>
  <strong>Charachterone:</strong>
  <%= @story.charachterOne %>
</p>

<p>
  <strong>Charachtertwo:</strong>
  <%= @story.charachterTwo %>
</p>

<p>
  <strong>Charachterthree:</strong>
  <%= @story.charachterThree %>
</p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
